/* X-Large devices (large desktops, 1200px) */

@media screen and (max-width: 1200px) {
    
}





/* Medium devices (tablets, less than 993px) */

@media screen and (max-width: 992px) {
    
    .humbarger {
        display: block;
    }
    
    .navbar {
        flex-direction: column-reverse;
        background-color: #0a3f5a;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: -3;
        transition: all 700ms;
       
    }

    .nav-active {
        left: 0;
    }


    .profile-pic img {
        margin: 20px 0;
        width: 80px;
        
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul a {
        display: block;
        width: 300px;
        text-align: center;
        color: white;
        padding: 25px 45px;
        background-color: rgba(255, 255, 255, 0);
        margin: 5px 0;
       
        transition: all 400ms;
    }

    .navbar ul a:hover {
        background-color: rgba(255, 255, 255, 0.254);
  
    }

    .active-icon .fa-bars {
        display: none;
      
    }

    .fa-xmark {
        display: none;
        
    }

    .active-icon .fa-xmark {
        display: block;
       
    }
   



}





/* Small devices (landscape phones, less than 769px) */
@media screen and (max-width: 768px) {
    

}




/* X-Small devices (portrait phones, less than 577px) */
@media screen and (max-width: 576px) {
    

}

